WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=change-this-long-password
WAHA_API_KEY=change-this-long-api-key
WAHA_API_KEY_PLAIN=change-this-long-api-key
WAHA_LOCAL_STORE_BASE_DIR=/app/.sessions
WAHA_WORKER_RESTART_SESSIONS=True
WHATSAPP_DEFAULT_ENGINE=WEBJS
